/* Global styles */
body {
    margin:0;
}
section {
    width: 100%;
}
section.top {
    margin-top:75px;
    background-color:#303133;
    padding-top:30px;
    padding-bottom: 30px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.25em;
    line-height: 2.38em;
    font-family: 'Oxygen', sans-serif;
    color:#fff;
    text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #fff;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.img-responsive {
    max-width: 100%;
    height: auto;
    display:inline-block;
    display:inline-block;
}


/* Nav & Footer styles */
#nav-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #545658;
    text-align: center;
}
nav { 
    position: relative;
    padding: 26px 0 22px;
    margin: 0;
    background: none;
    border: none;
}
nav ul, footer ul {
    float: none;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    background: none;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    border: none;
    border-radius: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    text-transform: lowercase;
    color: #fff;
    list-style-type: none;
    text-shadow: 1.5px 1.5px 2.5px #333639;
}
nav ul li:before {
    content: "• ";
    color: #fff; /* or whatever color you prefer */
}
nav ul li:first-child:before {
    content: "";
}
nav ul li a {
    padding: 0 30px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}


/* Website Portfolio */
.web-holder {
    display: inline-table;
    position: relative;
    width: 505px;
    height: 248px;
}
#ahr {
    background-image: url("../images/ahr-site-505.png");
}
#cvs {
    background-image: url("../images/allstate-site-505.png");
}
.web-linger {
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    height: 100%;
    width: 100%;
}
.web-holder:hover .web-linger {
    opacity: 1;
}

/* Body container */
div.container {
    clear: right;
}


/* Media Queries */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1220px) {
  .container {
    max-width: 1170px;
  }
}
.blurb {
    text-align: center;
}

.box {
    box-sizing: border-box;
    position: relative;
    width:50%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}
