/* Global styles */
body {
    margin: 91px auto;
    width: 70%;
    background-color:#303133;
}
a {
    text-decoration: none;
    /*color: #999;*/
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#ff0000;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #fff;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


/* Nav & Footer styles */
#nav-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    margin-bottom: 20px;
    background-color: #545658;
    text-align: center;
}
nav { 
    position: relative;
    padding: 26px 0 22px;
    margin: 0;
    background: none;
    border: none;;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    float: none;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    background: none;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #fff;
    list-style-type: disc;
}
nav ul li a {
    padding: 0 30px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}


/* Body container */
div.container {
    clear: right;
}


/* Media Queries */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1220px) {
  .container {
    max-width: 1170px;
  }
}
