/* Global styles */
body {
    margin: 91px auto;
    width: 70%;
    background-color:#303133;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#ff0000;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

/* Nav & Footer styles */
nav {
    min-height: 90px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: rgba(135, 135, 135, .8);
    border-width: 0 0 1px;
    box-shadow: 0 2px 4px 0 #777777;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    float:right;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    padding: 0 30px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}

/* Body container */
div.container {
    clear: right;
}

